[init]
	defaultBranch = main
[core]
	pager = delta
[user]
	name = moposx
	email = moposx@mopo.sx
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
    line-numbers = true
    side-by-side = true
[merge]
	conflictStyle = zdiff3
[gpg]
	format = ssh
[gpg "ssh"]
	program = ssh-keygen
